<h1 class="login-head">Welcome to Pokemon Trainer's Family!</h1>

<h1 class="login">Login</h1>
<%# # form is NOT working in rails!!!!
# form_for is ONLY FOR CRUD %>
<% if flash[:error].present? %>
    <h2><%= flash[:error] %></h2>
<% end %>

<%= form_tag login_path do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Log in" %>
<% end %>