<div class="pokecontainer">
    <div class="card">
        <div class="card-title">
            <%= @pokemon.name %>
        </div>
        <div class="card-body">
            <div class="card-image">
                <img src="<%= @pokemon.sprites.front_default %>">
            </div>
            <div class="card-details">
                <div class="type-list">
                    <% @pokemon.types.each do |type| %>
                        <%= type.type.name %>
                    <% end %>
                </div>

                Weight: <%= @pokemon.weight.to_f / 10 %>kg <br>
                Hight: <%= @pokemon.height.to_f / 10 %>m
            </div>


            <div class="controls">
                <%= button_to "Add to Favorite Pokemon", favorite_path(@pokemon.id), :method => :post %>
                <%= button_to "Remove from Favorite Pokemon", favorite_path(@pokemon.id), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
            </div>
        </div>
    </div>
</div>