<h1>My Pokedex</h1>

<%= link_to @region1.name %>
<%= link_to image_tag("https://archives.bulbagarden.net/media/upload/thumb/2/25/LGPE_Kanto_Map.png/300px-LGPE_Kanto_Map.png", :class => 'thumb') %>

<%= @region2.name %>
<%= link_to image_tag("https://archives.bulbagarden.net/media/upload/thumb/6/64/JohtoMap.png/300px-JohtoMap.png", :class => 'thumb') %>

<%= @region3.name %>
<%= link_to image_tag("https://archives.bulbagarden.net/media/upload/thumb/8/85/Hoenn_ORAS.png/300px-Hoenn_ORAS.png", :class => 'thumb') %>

<%= @region4.name %>
<%= link_to image_tag("https://archives.bulbagarden.net/media/upload/thumb/0/08/Sinnoh_BDSP_artwork.png/300px-Sinnoh_BDSP_artwork.png", :class => 'thumb') %>

<%= @region5.name %>
<%= link_to image_tag("https://archives.bulbagarden.net/media/upload/thumb/f/fc/Unova_B2W2_alt.png/300px-Unova_B2W2_alt.png", :class => 'thumb') %>

<%= @region6.name %>
<%= link_to image_tag("https://archives.bulbagarden.net/media/upload/thumb/8/8a/Kalos_alt.png/300px-Kalos_alt.png", :class => 'thumb') %>

<%= @region7.name %>
<%= link_to image_tag("https://archives.bulbagarden.net/media/upload/thumb/0/0b/Alola_USUM_artwork.png/300px-Alola_USUM_artwork.png", :class => 'thumb') %>

<%= @region8.name %>
<%= link_to image_tag("https://archives.bulbagarden.net/media/upload/thumb/c/ce/Galar_artwork.png/300px-Galar_artwork.png", :class => 'thumb') %>




<%# <img src="<%=@pokemon.sprites.front_default %>


<%# 
KANTO :https://archives.bulbagarden.net/media/upload/thumb/2/25/LGPE_Kanto_Map.png/300px-LGPE_Kanto_Map.png
JOHTO :https://archives.bulbagarden.net/media/upload/thumb/6/64/JohtoMap.png/300px-JohtoMap.png
HOENN :https://archives.bulbagarden.net/media/upload/thumb/8/85/Hoenn_ORAS.png/300px-Hoenn_ORAS.png
SINNOH :https://archives.bulbagarden.net/media/upload/thumb/0/08/Sinnoh_BDSP_artwork.png/300px-Sinnoh_BDSP_artwork.png
UNOVA: https://archives.bulbagarden.net/media/upload/thumb/f/fc/Unova_B2W2_alt.png/300px-Unova_B2W2_alt.png
KALOS: https://archives.bulbagarden.net/media/upload/thumb/8/8a/Kalos_alt.png/300px-Kalos_alt.png
ALOLA: https://archives.bulbagarden.net/media/upload/thumb/0/0b/Alola_USUM_artwork.png/300px-Alola_USUM_artwork.png
GALAR: https://img.gamewith.net/article/thumbnail/rectangle/13350.png

https://archives.bulbagarden.net/media/upload/thumb/c/ce/Galar_artwork.png/300px-Galar_artwork.png

%>