<div class="search">
    <h1 class="search-title">Pokemon Search</h1>

    <div class="search-button">
        <%= form_tag search_byname_path, method: :get do %>
            <%= label_tag :name, nil %>
            <%= text_field_tag :name %>

            <%= submit_tag "Search" %>
        <% end %>
    </div>

    <div class="search-button">
        <%= form_tag search_bytype_path, method: :get do %>
            <%= label_tag :type, nil %>
            <%= text_field_tag :type %>

            <%= submit_tag "Search" %>
        <% end %>
    </div>
</div>
