<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="pokemonhome.css">

  </head>

  <body>
    <nav class="navbar">
      <%= link_to "Home", root_path %>
      <%= link_to "Pokedex", pokedex_path %>
      
      <%= link_to "Search", search_path %>


      <% if @current_user.present? %>
        <% if @current_user.admin? %>
          <%= link_to "All users", users_path %>
        <% end %>
      
        <%= link_to "My favorite Pokemon", pokemon_favorites_path %>  
        <%= link_to "Log out #{ @current_user.email }", login_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up!", new_user_path %>
        <%= link_to "Log in", login_path %>
      <% end %>
    </nav>
    
    <%= yield %>
  </body>
</html>
